BKDZXB_0929/BKDZXB_konyv.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT konyvek (konyv+)>
						<!ELEMENT konyv (cim,kiadas_eve,kiado,szerzo+,absztrakt)>
						<!ATTLIST konyv id ID #REQUIRED>
						<!ELEMENT cim (#PCDATA)>
						<!ELEMENT kiadas_eve (#PCDATA)>
						<!ELEMENT kiado (#PCDATA)>
						<!ELEMENT szerzo (#PCDATA)>
						<!ELEMENT absztrakt (#PCDATA)>